/* Variables */
:root {
	--primary: rgb(138,171,204);
	--techniques:rgb(74, 124, 230);
	--etudes: rgb(26,40,71);
	--pieces: rgb(68, 6, 212);
	--light: rgb(188,212,231);
	--grey: #888;
	--dark: #313154;
	--danger: #f13c20;
	--white: rgb(26,40,71);
	--shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	--etudes-glow: 0px 0px 4px rgba(26,41,71,0.75);
	--pieces-glow: 0px 0px 4px rgba(26,41,71,0.75);
	--techniques-glow: 0px 0px 4px rgba(26,41,71,0.75);
	--white-glow: 0px 0px 10px rgba(1, 18, 57, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Kalam', cursive;
}


input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}
/* End of Resets */

body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}
nav {
	margin-bottom: 1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	box-sizing:border-box;
	height:80px;
	background-color:var(--light);

}
nav label{
	color: var(--white);
	font-size: 35px;
	line-height: 80px; 
	font-weight: bold;
}
nav ul{
	float: right;
	
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin:0 5px;
	
}
nav ul li a{
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	list-style: none;
	padding: 5px 10px;
	color:#fff;
	border-radius: 10px;
}
a.active, a:hover{
	background:var(--primary);
	transition: .5s;
}
.checkbtn{
	font-size: 30px;
	float:right;
	color: var(--etudes);
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display:none;
}
#check{
	display:none;
}

@media (max-width:858px){
	.checkbtn{
		display:block;
	}
	ul{
		position:fixed;
		width:20%;
		height:40vh;
		background:var(--etudes);
		top:70px;
		right:-100%;
		text-align:center;
		transition: all 0.5s;
		border-radius: 15px 0px 0px 15px;
	}
	nav ul li{
		display:block;
		margin: 9vh 0;
		line-height: 10px;
	}
	nav ul li a{
		font-size:20px;
	}
	a:hover,a.active{
		background:none;
		color:var(--light);
	}
	#check:checked ~ ul{
		right:0;
	}
}


.create-rep input[type="text"] {
	width: 35%;
	font-size: 1.2rem;
	padding: 1rem 1.5rem;
	color: var(--etudes);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;


}
.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-rep input[type="submit"] {
	margin-left:5%;
	display:inline-block;
	width: 20%;
	height: 40%;
	font-size: 1.25rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--white-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}


.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.2s ease-out;
}
#pieceName, #pieceOpus{
	margin-right: 5%;
}
.info{
	display:table;
	
}
.create-todo .options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #FFF;
	padding: 1.5rem;
	box-shadow: var(--shadow);
	border-radius: 0.5rem;
	cursor: pointer;
}

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

.bubble {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	border-radius: 999px;
	border: 2px solid var(--etudes);
	box-shadow: var(--etudes-glow);
}

.bubble.pieces {
	border-color: var(--pieces);
	box-shadow: var(--pieces-glow);
}
.bubble.techniques {
	border-color: var(--techniques);
	box-shadow: var(--techniques-glow);
}


.bubble::after {
	content: '';
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--etudes);
	box-shadow: var(--etudes-glow);
	border-radius: 999px;
	transition: 0.2s ease-in-out;
}

.bubble.pieces::after {
	background-color: var(--pieces);
	box-shadow: var(--pieces-glow);
}

input:checked ~ .bubble::after {
	width: 10px;
	height: 10px;
	opacity: 1;
}

.create-todo .options label #etudes {
	color: var(--etudes);
	font-size: 1.35rem;
	margin-top: 1rem;
}
.create-todo .options label #techniques {
	color: var(--techniques);
	font-size: 1.35rem;
	margin-top: 1rem;
}
.create-todo .options label #pieces {
	color: var(--pieces);
	font-size: 1.35rem;
	margin-top: 1rem;
}

.create-todo input[type="submit"]:hover, .create-rep input[type="submit"]:hover  {
	opacity: 0.75;
}

.todo-list .list, .rep-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item, .rep-list .rep-item  {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--shadow);
	margin-bottom: 1rem;
}

.todo-item label,.rep-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-item .todo-content,.rep-item .rep-content {
	flex: 1 1 0%;
}

.todo-item .todo-content input, .rep-item .rep-content input  {
	color: var(--etudes);
	font-size: 1.25rem;
	width:90%;
}

.todo-item .actions, .rep-item .actions {
	display: flex;
	align-items: center;
}

.todo-item .actions button, .rep-item .actions button  {
	display: block;
	padding: 0.5rem;
	border-radius: 0.25rem;
	color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
}

.todo-item .actions button:hover, .rep-item .actions button:hover {
	opacity: 0.75;
}

.todo-item .actions .edit {
	margin-right: 0.5rem;
	background-color: var(--primary);
}

.todo-item .actions .delete,.rep-item .actions .delete {
	background-color: var(--danger);
}

.todo-item.done .todo-content input {
	text-decoration: line-through;
	color: var(--grey);
}